.home_wrapper {

}

.home_image {
  max-width: 80%;
  height: auto;
  object-fit: cover;
}

.inner_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login_text {
  font-size: 20px;

}
