
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
body{
    font-family: 'JetBrains Mono', monospace;
    background-color: rgb(254, 254, 254);
}


li {
    list-style: none;
}


a {
    text-decoration: none;
    color:blue;
}


a:hover {
    color: red;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background: #222;
    padding: 0 15px;
}
