.signup_btn {
  border: 1px solid black;
  color: black;
  margin-left: 10px;
}

.signup {
  border: 1px solid black;
  color: black;
  margin-top: 15px;
}

.signup_wrapper {
  display: flex;
  position: relative;
  width: 400px;
  padding: 20px 20px 20px;
  justify-content: space-between;
  align-items: center;
}

.signup_input_div {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.signup_input {
  width: 90%;
  border-radius: 0;
  border: 1px solid black;
  height: 40px;
  padding: 0 5px;
  font-family: "JetBrains Mono", monospace;
}
