.signup_btn {
  position: relative;
  left: 20%;
}




.signup_wrapper {
  display: flex;
  position: relative;
  width: auto;
  padding: 5%;
}



.signup_input_div {
  position: relative;
  width: auto;
  display: flex;
  padding: 3%;
}
