@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

.image {
  display: flex;
  object-fit: fill;
  width: 600px;
  height: 600px;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.imageContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  box-sizing: border-box;
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-size: 12px;
  padding: 20px;
}

.outerContainer {
  background-color: white;
}

.username {
  font-weight: bolder;
  padding: 0 5px;
}

.caption {
  padding: 5px;
  font-size: 16px;
}

.bold {
  font-weight: bold;
  font-size: 14px;
  margin-top: 7px;
}
.comments {
  font-size: 12px;
}

.indContainer {
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 20px;
}

.titleUsername {
  /* margin: 20px; */
  /* margin-left: 10px; */
  font-size: 16px;
  padding: 2px 5px;
  font-size: 20px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 5px;
}

.commentsDiv {
  padding: 0 5px;
}
