.create-post-form {
    min-height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.create-post-img {
  display: flex;
  object-fit: fill;
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.create-post-file-input {
    display: none;
}

.create-post-label {
    border: 1px solid black;
    padding: 4px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.create-post-caption {
    width: 320px;
    border-radius: 0;
    border: 1px solid black;
    height: 40px;
    font-family: "JetBrains Mono", monospace;
    outline: none;
    padding: 5px;
}

.caption-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}